//color-codes
$dark-blue-08: #0C1014;
$white-100: #FEFEFE;
$grey-83: #D2D3D3;
$grey-47:#646C78;
$blue-100: #1FB6FF;

//media queries break point
$mobile-tablet: 930px;
$mobile-desktop-medium: 1364px;
$medium-desktop-medium: 1599px;
$large-desktop: 1600px;
