@import '_variables';

.footer {
  min-width: 100%;
  display: flex;
  margin-top: 8rem;
  padding:4rem 0;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap:wrap;

  .footerLogo{
    .logo {
      width: 75px;
      height: auto;
    }
  }
  

  .footerColumn {
    display: flex;
    flex-direction: column;
    h4 {
      margin-bottom: 18px;
    }

    a {
      margin-bottom: 18px;
      font-size: .833rem;
      text-decoration: none;
      color: $grey-47;
      &:hover {
        text-decoration: underline;
        color: $white-100;
      }
    }
  }
}

@media (max-width: $mobile-tablet){
  .footer{
    gap:73px;
    justify-content: flex-start;
    .footerLogo{
      flex-basis: 100%;
    }
  }
}
