@import '_variables';

.footer {
  min-width: 100%;
  display: flex;
  margin-top: 8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap:wrap;
  gap: 6%;

  .logo {
    width: 75px;
    height: auto;
  }

  .footerColumn {
    display: flex;
    flex-direction: column;

    h4 {
      margin-bottom: 18px;
    }

    a {
      margin-bottom: 18px;
      font-size: .833rem;
      text-decoration: none;
      color: $grey-47;

      &:hover {
        text-decoration: underline;
        color: $white-100;
      }
    }
  }
}

@media (max-width: 865px){
  .footer{
    padding-left:25px;
    padding-right: 25px;
    gap:73px;
  }
}
